
body {
    font-family: Arial, sans-serif;
    font-size: 16px;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
  }
  
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  a {
    color: #07420a;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
    
  .starter-package {
    background-color: #fff;
    border: 20px solid #9b4b1c;
    padding: 20px;
  }
  
  .starter-package .header {
    margin-bottom: 20px;
  }
  
  .starter-package .header img {
    width: 100%;
    height: auto;
  }
  
  .intermed-package {
    background-color: #f2f2f2;
    border: 20px solid #ccc;
    padding: 20px;
  }
  
  .intermed-package .header {
    margin-bottom: 20px;
  }
  
  .intermed-package .header img {
    width: 100%;
    height: auto;
  }
  
  .intermed-package .meal-plan {
    margin-top: 20px;
  }
  
  .premium-package {
    background-color: #f8f8f8;
    border: 20px solid #eac635;
    padding: 20px;
  }
  
  .premium-package .header {
    margin-bottom: 20px;
  }
  
  .premium-package .header img {
    width: 100%;
    height: auto;
  }
  
  .premium-package .meal-plan {
    margin-top: 20px;
  }
  
  
  @media (min-width: 768px) {
    .starter-package {
      width: 50%;
      margin: 0 auto;
    }
  
    .intermed-package {
      width: 50%;
      margin: 0 auto;
    }
  
    .premium-package {
      width: 50%;
      margin: 0 auto;
    }
  }
  
