body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
  }
  
  header {
    background-color: #002705;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 20px;
  }
  
  header nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  header nav ul li {
    margin-right: 20px;
  }
  
  header nav a {
    color: white;
    text-decoration: none;
  }
  
  main {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
  }
  
  section {
    width: 100%;
    padding: 20px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }
  
  section#about .about-content {
    display: flex;
  }
  
  section#about .about-content img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin-right: 20px;
  }
  
  section h2 {
    font-size: 32px;
    text-align: center;
  }
  
  section form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  section form label,
  section form input[type="submit"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 20px;
  }
  
  section form input[type="text"],
  section form input[type="email"],
  section form textarea {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 20px;
    box-sizing: border-box;
  }
  
  section form input[type="submit"] {
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  footer {
    background-color: #333;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
  }
  
  footer p {
    margin: 0;
  }
  