<h1>{{title}}</h1>
<!DOCTYPE html>
<html>
<head>
  <title>SelfGrow</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./HomePage/HomePage.component.css">
</head>
<body>
<header>
  <nav>
    <ul>
      <li><a href="#about">About</a></li>
      <li><a href="#services">Services</a></li>
      <li><a href="#testimonials">Testimonials</a></li>
      <li><a href="#contact">Contact</a></li>
      <li><a href = "shop">Store</a></li>
      <li><a href="login">Login</a></li>
      <li><a href="register">Register</a></li>
    </ul>
  </nav>
</header>
</body>
<router-outlet></router-outlet>
<nav>
  <button onclick="window.location.href = '';">Home</button>
</nav>