<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Thank you!</title>
  <style>
    /* Center text vertically and horizontally */
    body {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100vh;
      margin: 0;
      padding: 0;
    }

    /* Style for the text */
    h1 {
      font-size: 3em;
      text-align: center;
    }
  </style>
</head>
<body>
<h1>Thank you for purchasing a package! Please return to the My Packages page to access your content!</h1>
</body>
</html>
